<% layout("/layouts/boilerplate") %> 
<body>
    <!-- <script>
        let totalAmount = ""
    </script> -->
    <head><link rel="stylesheet" href="/style.css"></head>
    <style>
        .filters{
            display:flex;
            margin-top: 2rem;
            align-items:start;
        }
        .filter{
            text-align:center;
            margin-left: 2rem;
            opacity : 0.7;
        }
        .filter:hover {
            opacity : 1;
            text-decoration: underline;
            cursor:pointer;
        }
        .filter i{
            font-size : 1.25rem;
        }
        .filter p {
            font-size : 1rem;
        }
        .tax-info{
            display:none;
        }

        .tax-toggle{
            border : 1px solid black;
            border-radius: 1rem;
            height : 3.5rem;
            padding : 1rem;
            margin-left : 3rem;
            display: flex;
            align-items: center;
        }
    </style>
    <div class="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-skiing"></i></div>
            <p>Ski In/Out</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-water-ladder"></i></div>
            <p>Swimming Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tree-city"></i></div>
            <p>Treehouse</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tents"></i></div>
            <p>Camping</p>
        </div>
        
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Artic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Top of World</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-dungeon"></i></div>
            <p>Dungeon</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-golf-ball-tee"></i></div>
            <p>Golf</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch ">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
              </div> 
        </div>
        
    </div>
        
    <%for(let list of listings){%>
        <a href="/listing/<%=list["_id"]%>">
            <div class="listing mt-1">
                <div class="card-image">
                    <img src="<%=list.image.url%>"><br>
                </div>
                
                <div class="card-text">
                    <p><b><%=list.title%></b></p>
                    <p style="opacity:0.5">₹<%=list.price.toLocaleString("en-IN")%>/night<i class="tax-info">&nbsp; &nbsp;+18% GST</i></p>
                </div>
            </div>
        </a>

    <%}%> 
    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click",()=>{
            let taxInfo = document.getElementsByClassName("tax-info");
            for( info of taxInfo){
                if(info.style.display != "inline"){
                    info.style.display = "inline";
                } 
                else{
                    info.style.display = "none";
                }
            } 
        })
    </script>
</body>

