<% layout("/layouts/boilerplate") %>

<div class="f-error alert alert-danger" role="alert">
    <div>
        <p class="err-status">*<%=err.statusCode%>*</p>
        <p class="err-msg">&nbsp;<%=err.message%></p>   
    </div>
</div>
   
